<section id="post" class="wrapper bg-img" data-bg="Rick6.png">
    <div class="inner">
        <article class="box">
            <header>
                <h2 style="color: #56585D;">{{listLocaciones.0.id}}. {{listLocaciones.0.nombre}}</h2>
                <p>
                <h4 style="color: #F64747;">Fecha de creación: <p><strong> {{listLocaciones.0.fecha_creado}}</strong>
                    </p>
                </h4>
            </header>
            <div class="content">

                <h4 style="color: #F64747;">Tipo de lugar: <p> <strong>{{listLocaciones.0.tipo}}</strong> </p>
                </h4>
                <p>Descripción...</p>

                <p>
                <h4 style="color: #F64747;">Dimensión: <p><strong>{{listLocaciones.0.dimension}}</strong> </p>
                </h4>

                <p>Descripción...</p>
            </div>
            <header>
                <h2 style="color: #56585D;">{{listLocaciones.1.id}}. {{listLocaciones.1.nombre}}</h2>
                <p>
                <h4 style="color: #F64747;">Fecha de creación: <p><strong> {{listLocaciones.1.fecha_creado}}</strong>
                </h4>
                </p>
            </header>
            <div class="content">
                <p>
                <h4 style="color: #F64747;">Tipo de lugar: <p><strong>{{listLocaciones.1.tipo}}</strong> </p>
                </h4>
                <p>Descripción...</p>


                <h4 style="color: #F64747;">Dimensión: <p><strong>{{listLocaciones.1.dimension}}</strong> </p>
                </h4>
                <p>Descripción...</p>
            </div>
            <header>
                <h2 style="color: #56585D;">{{listLocaciones.2.id}}. {{listLocaciones.2.nombre}}</h2>
                <p>
                <h4 style="color: #F64747;">Fecha de creación: <p><strong> {{listLocaciones.2.fecha_creado}}</strong>
                </h4>
                </p>
            </header>
            <div class="content">
                <p>
                <h4 style="color: #F64747;">Tipo de lugar: <p> <strong>{{listLocaciones.2.tipo}}</strong> </p>
                </h4>
                <p>Descripción...</p>

                <p>
                <h4 style="color: #F64747;">Dimensión: <p> <strong>{{listLocaciones.2.dimension}}</strong> </p>
                </h4>

                <p>Descripción...</p>
            </div>
            <footer>
                <ul class="actions">
                    <li><a href="#" class="button alt icon fa-chevron-left"><span class="label">Previous</span></a>
                    </li>
                    <li><a href="#" class="button alt icon fa-chevron-right"><span class="label">Next</span></a>
                    </li>
                </ul>
            </footer>
        </article>
    </div>
</section>