<!DOCTYPE html>
<html>

<head>
  <title>{{titulo}}</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="assets/css/main.css" />
</head>

<body>
  <!-- Header -->
  {{> header}}

  <!-- Nav -->
  {{> navbar}}

  <!-- Banner -->
  <section id="banner" class="bg-img" data-bg="Rick1.jpg">
    <div class="inner">
      <header>
        <h1>{{nombre}}</h1>
      </header>
    </div>
    <a href="#one" class="more">Saber mas</a>
  </section>

  <!-- One -->
  <section id="one" class="wrapper post bg-img" data-bg="Rick5.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>{{listEpisodios.0.id}}. {{listEpisodios.0.nombre}}</h2>
          <p>Fecha al aire <br>{{listEpisodios.0.fecha_aire}}</p>
        </header>
        <div class="content">
          <p>
            <strong>
              {{listEpisodios.0.episodio}}
            </strong>
          </p>
        </div>
        <footer>
          <a href="/locations" class="button alt">Ver más</a>
        </footer>
      </article>
    </div>
    <a href="#two" class="more">Learn More</a>
  </section>

  <!-- Two -->
  <section id="two" class="wrapper post bg-img" data-bg="Rick2.jpg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>{{listEpisodios.1.id}}. {{listEpisodios.1.nombre}}</h2>
          <p>Fecha al aire <br>{{listEpisodios.1.fecha_aire}}</p>
        </header>
        <div class="content">
          <p>
            <strong>
              {{listEpisodios.1.episodio}}
            </strong>
          </p>
        </div>
        <footer>
          <a href="/locations" class="button alt">Ver más</a>
        </footer>
      </article>
    </div>
    <a href="#three" class="more">Learn More</a>
  </section>

  <!-- Three -->
  <section id="three" class="wrapper post bg-img" data-bg="Rick3.jpeg">
    <div class="inner">
      <article class="box">
        <header>
          <h2>{{listEpisodios.2.id}}. {{listEpisodios.2.nombre}}</h2>
          <p>Fecha al aire <br>{{listEpisodios.2.fecha_aire}}</p>
        </header>
        <div class="content">
          <p>
            <strong>
              {{listEpisodios.2.episodio}}
            </strong>
          </p>
        </div>
        <footer>
          <a href="/locations" class="button alt">Ver más</a>
        </footer>
      </article>
    </div>
    <a href="#four" class="more">Learn More</a>
  </section>

  <!-- Four -->
  <section id="four" class="wrapper post bg-img" data-bg="Rick4.png">
    <div class="inner">
      <article class="box">
        <header>
          <h2>{{listEpisodios.3.id}}. {{listEpisodios.3.nombre}}</h2>
          <p>Fecha al aire <br>{{listEpisodios.1.fecha_aire}}</p>
        </header>
        <div class="content">
          <p>
            <strong>
              {{listEpisodios.3.episodio}}
            </strong>
          </p>
        </div>
        <footer>
          <a href="/locations" class="button alt">Ver mas</a>
        </footer>
      </article>
    </div>
  </section>

  <!-- Footer -->
  {{> footer}}
</body>

</html>